@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-navy-blue: #111428;
  --color-dusk-blue: #2e3461;
  --color-tan: #ffe6bd;
  --color-brown: #594D3A;
  --font-roboto: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-roman:
    "Times New Roman", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-blue-300 dark:bg-navy-blue font-roboto text-black dark:text-white;
  }

  button,
  button:focus,
  a,
  a:focus {
    @apply cursor-pointer hover:outline-3 outline-amber-800;
  }
}

@layer components {
  .header-link {
    @apply aspect-square bg-cover rounded-full;
  }

  .title-text {
    @apply font-thin font-roman italic text-4xl text-black dark:text-white tracking-widest;
  }

  /* neeko is 255px x 1100px */
  .page-layout {
    @apply grid grid-cols-[110px_1fr] sm:grid-cols-[110px_1fr_255px] h-[1100px];
  }

  /* for specific champs or skins */
  .page-single-layout {
    @apply grid grid-cols-[110px_1fr] sm:grid-cols-[110px_1fr]
  }

  .bg-center-sqr {
    @apply aspect-square bg-center bg-no-repeat
  }

  .specific-page-link {
    @apply border-3 border-black dark:border-tan bg-stone-700 h-[50%] sm:h-[90%] lg:h-[25%]
  }
}

@layer util {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-btwn {
    @apply flex justify-between;
  }
}
